D$
 @import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');



footer{
	position:fixed;
}

@media (max-height:800px){
	footer { position:static; }
}


/*638583   #48515c     */
.footer-distributed{
	background-color:#5c8a8a;
	box-sizing: border-box;
	width: 100.6%;
	text-align: left;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding: 8px 8px 8px 8px;
	margin-top: 80px;
	margin-left:-8px;
	box-shadow: 0 0 2px 0 black;
	
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align:middle;
}
.footer-distributed .footer-left{
	width: 30%;
}
/* Alda Text*/
.footer-distributed h3{
	color:  #ffffff;
	font-family:Arial, Helvetica, sans-serif, bold;

	margin: 5;
	font-size:30px;
	margin-left:14px;
}

.footer-distributed .footer-left img{
	width: 30%;
	margin-left:30px;
}
/*Market*/
.footer-distributed h3 span{
	color:#2ab1e2;
}



.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px; 	
	
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 2;
	text-decoration:none;
	color:  inherit;
	
}

.footer-distributed .footer-center{
	width: 35%;
}
.footer-distributed .footer-center i{
	background-color:  #ffffff;
	color: #2ab1e2;
	font-size: 27px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 13px 0px;
	vertical-align: middle;
	
	
}
/* mail, phone, map icons*/
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
	
}
.footer-center i.fa-envelope:hover{
	background-color:rgb(90, 88, 88);
}
.footer-center i.fa-phone:hover {
	background-color:rgb(90, 88, 88);
}
.footer-center i.fa-map-marker:hover {
	background-color:rgb(90, 88, 88);

}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	font-family:Arial, Helvetica, sans-serif;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:17px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color: #2ab1e2;;
	text-decoration: none;;
}
.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:white;
	font-size: 14px;
	font-weight: normal;
	margin:0;
}
.footer-distributed .footer-icons{
	margin-top: 25px;
}
/* Social Media Icons*/
.fa-facebook {
    padding:15px 20px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #5c8a8a;
	color: #fff;
	border-style:solid ;
	border-width: 1px;
}
.fa-facebook:hover {
	background-color: #3d5b99;
	
}  

.fa-instagram {
    padding:15px 18px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #5c8a8a;
	color: #fff;
	border-style:solid ;
	border-width: 1px;
    
}
.fa-instagram:hover {
  background-color: #E48240;
}
.footer-links:hover {
color:#2ab1e2;
}
/* Code for responsive */
@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 30px;
		text-align: center;
		
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
/* Page lists*/
.foot a {
  
  display:list-item;
  color: #ffffff;
  text-decoration: none;
  font-size: 17; 
  padding: 1px;;
  list-style: none;
}

.foot a:hover {
  color: #2ab1e2;
  text-decoration: none ;
  
}
.footer-right {
	padding: 0 25px;
}
.tabela{
	text-decoration:none;
	color:blue;
	margin-top:60px;
    width:100%;
    table-layout:fixed;
	
}
.x{
	margin-top:60px;
	margin-right:60px;
}


.paragrafi{
	margin-left:400px;
	margin-right:300px;
}
.hrnew{
	
	width:800px;
	border: 1px solid #3CC4D5;
}
.carousel-inner{
	margin-top:76px;
}

.harta{
	
	float: right;
	margin-left: 15px;

}

.harta2
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.adresat{
	text-align: center;
	font-family:'Candara';
	font-style: italic;
	display: inline;
        font-size: 20;
}


header img {
    height: 80px;
	margin-left: 40px;
	opacity:1.2;
	padding-top:4px;
	padding-bottom: 8px;
	padding-right:8px;
	
}
/*#9fadc6;*/


header {

    background-color:#5c8a8a;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    font-family:Arial, Helvetica, sans-serif;
	font-size: 18px;
	z-index: 9999;
}
header * {
    display:flex;
}
header li {
    margin: 25px;
}
header li a {
    color:white;
    text-decoration: none;
}
 .header li a:hover {
  background-color:#2ab1e2;
  color:white;
  text-decoration: none;
  
}

.al {
    font-size: 30px;
	color:white;
	margin-top:15px;
	text-decoration: none;
}
.mar {
	color:#2ab1e2;
	text-decoration:none;
}
.search-form {
  --searchButtonWidth: 75px;
  
  max-width: 320px;
  margin:-110 auto;
  margin-right:-42%;
  overflow: hidden;
  position: relative;
  float: right;
}	
.search-input {
  border: 0;
  margin: 50;
  padding: 0.5rem calc(var(--searchButtonWidth) + 0.5rem) 0.5rem 0.5rem;
  border-radius: 8px;
  width: 100%;
  background: rgb(255, 255, 255);
  -webkit-appearance: none;
  font-size: 13px;
}
.search-input:focus {
  outline: 0;
  background: white;
}
.search-input:not(:placeholder-shown) ~ .search-button {
  transform: translateX(calc(-1 * var(--searchButtonWidth)));
}

.search-button {
  border: 0;
  padding: 0.5rem;
  border-radius: 7px;
  position: absolute; 
  top:49;
  left: 100%;
  width: var(--searchButtonWidth);
  transition: 0.2s;
  background:#2ab1e2;
  color: white;
  font-size: 13px;
  height:23%;
}
.headi a:hover {
	color:#2ab1e2;
	text-decoration: none;
}
#mydiv {
	display: none;
	
}
*, *:before, *:after {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  body, button, input {
	font-family: 'Montserrat', sans-serif;
	font-weight: 8000;
	letter-spacing: 1.8px;
  }
  .background {
	display: flex;
	min-height: 100vh;
  }
  
  .container {
	flex: 0 1 700px;
	margin: auto;
	padding: 10px;
  }
  
  .screen {
	position: relative;
	background: #5c8a8a;
	border-radius: 19px;
	
  }
  
  .screen:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 20px;
	right: 20px;
	bottom: 0;
	border-radius: 15px;
	box-shadow: 0 20px 40px #5c8a8a;;
	z-index: -1;
  }
  
  
  .screen-body {
	display: flex;
	height: 450px;
	margin-top:105px;
  }
  
  .screen-body-item {
	flex: 1;
	padding: 55px;
  }
  
  .screen-body-item.left {
	display: flex;
	flex-direction: column;
  }
  
  .app-title {
	display: flex;
	flex-direction: column;
	position: relative;
	color:#ffffff;
	font-size: 30px;
  }
  
  .app-title:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 50px;
	height: 4px;
	background:rgb(255, 255, 255);
  }
  
  .app-form-group {
	margin-bottom: 25px;
	padding-right:29px;
  }
  
  .app-form-group.message {
	margin-top: 60px;
  }
  
  .app-form-group.buttons {
	margin-bottom: 0;
	text-align: right;
  }
  .app-form-control {
	width: 125%;
	padding: 10px 0;
	background: none;
	border: none;
	border-bottom: 1px solid rgb(189, 170, 170);
	color: rgb(255, 255, 255);
	font-size: 15px;
	text-transform: uppercase;
	outline: none;
	transition: border-color .2s;
  }
  .app-form-control::placeholder {
	color: rgb(255, 255, 255);
  }
  
  .app-form-control:focus {
	border-bottom-color: rgb(255, 255, 255);
  }
  
  .app-form-button {
	background: none;
	border: none;
	color: rgb(255, 255, 255);
	font-size: 14px;
	cursor: pointer;
	outline: none;
	border-style:solid;
	border-color:rgb(240, 235, 235);
	background-color:#5c8a8a;
  }
  @media screen and (max-width: 520px) {
	.screen-body {
	  flex-direction: column;
	}
  
	.screen-body-item.left {
	  margin-bottom: 30px;
	}
  
	.app-title {
	  flex-direction:column;
	}
  
	.app-title span {
	  margin-right: 12px;
  
	}
  
	.app-title:after {
	  display: none;
	}
  }
  @media screen and (max-width: 600px) {
	.screen-body {
	  padding: 40px;
	}
  }
  @import url(https://fonts.googleapis.com/css?family=Lato);
  @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);