D$
 @import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');



footer{
	position:fixed;
}

@media (max-height:800px){
	footer { position:static; }
}

/*638583   #48515c     */
.footer-distributed{
	background-color:#5c8a8a;
	box-sizing: border-box;
	width: 100.6%;
	text-align: left;
	font: bold 17px sans-serif;
	padding: 8px 8px 8px 8px;
	margin-top: 80px;
	margin-left:-8px;
	box-shadow: 0 0 2px 0 black;
	
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align:middle;
}
.footer-distributed .footer-left{
	width: 30%;
}
/* Alda Text*/
.footer-distributed h3{
	color:  #ffffff;
	font-family:Arial, Helvetica, sans-serif;
	margin: 5;
	font-size:30px;
	margin-left:14px;
}

.footer-distributed .footer-left img{
	width: 30%;
	margin-left:30px;
}
/*Market*/
.footer-distributed h3 span{
	color:#2ab1e2;
}



.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px; 	
	
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 2;
	text-decoration:none;
	color:  inherit;
	
}

.footer-distributed .footer-center{
	width: 35%;
}
.footer-distributed .footer-center i{
	background-color:  #ffffff;
	color: #2ab1e2;
	font-size: 27px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 13px 0px;
	vertical-align: middle;
	
	
}
/* mail, phone, map icons*/
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
	
}
.footer-center i.fa-envelope:hover{
	background-color:rgb(90, 88, 88);
}
.footer-center i.fa-phone:hover {
	background-color:rgb(90, 88, 88);
}
.footer-center i.fa-map-marker:hover {
	background-color:rgb(90, 88, 88);

}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	font-family:Arial, Helvetica, sans-serif;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:17px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color: #2ab1e2;;
	text-decoration: none;;
}
.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:white;
	font-size: 14px;
	font-weight: normal;
	margin:0;
}
.footer-distributed .footer-icons{
	margin-top: 25px;
}
/* Social Media Icons*/
.fa-facebook {
    padding:15px 20px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #5c8a8a;
	color: #fff;
	border-style:solid ;
	border-width: 1px;
}
.fa-facebook:hover {
	background-color: #3d5b99;
	
}  

.fa-instagram {
    padding:15px 18px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #5c8a8a;
	color: #fff;
	border-style:solid ;
	border-width: 1px;
    
}
.fa-instagram:hover {
  background-color: #E48240;
}
.footer-links:hover {
color:#2ab1e2;
}
/* Code for responsive */
@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 30px;
		text-align: center;
		
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
/* Page lists*/
.foot a {
  
  display:list-item;
  color: #ffffff;
  text-decoration: none;
  font-size: 17; 
  padding: 1px;;
  list-style: none;
}

.foot a:hover {
  color: #2ab1e2;
  text-decoration: none ;
  
}
.footer-right {
	padding: 0 25px;
}
.tabela{
	text-decoration:none;
	color:blue;
	margin-top:60px;
    width:100%;
    table-layout:fixed;
	
}
.x{
	margin-top:60px;
	margin-right:60px;
}


.paragrafi{
	margin-left:400px;
	margin-right:300px;
}
.hrnew{
	
	width:800px;
	border: 1px solid #3CC4D5;
}
/* moving photo left right*/
.carousel-inner {
	height:450px;
	left:0px;
	top:75px;
	
	
}

/* color of slider */
.carousel{
  color: #7FFFF2;
  background-color: #7FFFF2 !important;
  
  
}

.carousel .item{
  color:#7FFFF2;
  
}
/* photo position */
.carousel {
  width:1135px;
  height:600px;
  margin-top:40px;
  margin-left:112px;
}


.harta{
	
	float: right;
	margin-left: 15px;

}
.harta2{
	margin-left: 410px;
	margin-right: 540px;

}
.adresat{
	text-align: center;
	font-family:'Candara';
	font-style: italic;
	display: inline;
}

.column {
	float: left;
	width: 50%;
  }
  .tabela{
	text-decoration:none;
	color:white;
	margin-top:15px;
    width:100%;
    table-layout:fixed;
}
.x{
	margin-top:60px;
	margin-right:60px;
}
.logo{

	width:185px;
	height:150px;
	padding-left:60px;
	padding-top:20px;
	
}
.video {
	
	margin-left: 450px;
	margin-right: 250px;
}
input[type=text], select, textarea {
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */ 
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
	background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
	  margin-top: 10px;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 50px;
  }

.kontakt {
	margin-top: 50px;
	padding: 50px;
	font-family:"Myriad Pro Regular";
	font-style: oblique;
	font-size: 28px;
	margin-left: 500px;
	margin-right: 100px;
}
header img {
    height: 80px;
	margin-left: 40px;
	opacity:1.2;
	padding-top:4px;
	padding-bottom: 8px;
	padding-right:8px;
	
}
/*#9fadc6;*/
header {
    background-color:#5c8a8a;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    font-family:Arial, Helvetica, sans-serif;
	font-size: 18px;
	z-index: 9999;
}
header * {
    display:flex;
}
header li {
    margin: 25px;
}
header li a {
    color:white;
    text-decoration: none;
}
 .header li a:hover {
  background-color:#2ab1e2;
  color:white;
  text-decoration: none;
  
}

.al {
    font-size: 30px;
	color:white;
	margin-top:15px;
}
.mar {
    color:#2ab1e2;
}
.search-form {
  --searchButtonWidth: 75px;
  
  max-width: 320px;
  margin:-110 auto;
  margin-right:-100%;
  overflow: hidden;
  position: relative;
  float: right;
}	
.search-input {
  border: 0;
  margin: 50;
  padding: 0.5rem calc(var(--searchButtonWidth) + 0.5rem) 0.5rem 0.5rem;
  border-radius: 8px;
  width: 100%;
  background: rgb(255, 255, 255);
  -webkit-appearance: none;
  font-size: 13px;
}
.search-input:focus {
  outline: 0;
  background: white;
}
.search-input:not(:placeholder-shown) ~ .search-button {
  transform: translateX(calc(-1 * var(--searchButtonWidth)));
}

.search-button {
  border: 0;
  padding: 0.5rem;
  border-radius: 7px;
  position: absolute; 
  top:49;
  left: 100%;
  width: var(--searchButtonWidth);
  transition: 0.2s;
  background:#2ab1e2;
  color: white;
  font-size: 13px;
  height:23%;
}
.headi a:hover {
	color:#2ab1e2;
	text-decoration: none;
}
