.tabela{
	text-decoration:none;
	color:white;
	margin-top:15px;
    width:100%;
    table-layout:fixed;
}
.x{
	margin-top:60px;
	margin-right:60px;
}
.logo{

	width:185px;
	height:150px;
	padding-left:60px;
	padding-top:20px;
	
}
