.tabela{
	text-decoration:none;
	color:white;
	margin-top:60px;
    width:100%;
    table-layout:fixed;
}
.x{
	margin-top:60px;
	margin-right:60px;
}
.logo{

	width:185px;
	height:150px;
	padding-left:60px;
	padding-top:20px;
	
}

.video {
	margin-top:50px;
	margin-left: 540px;
	margin-right: 200px;
}

.paragrafi{
	margin-left:400px;
	margin-right:300px;
	
}
.hrnew{
	
	width:800px;
	border: 1px solid #3CC4D5;
	
}
.harta{
	
	float: right;
	margin-left: 15px;

}
.harta2{
	margin-left: 410px;
	margin-right: 540px;

}
.adresat{
	text-align: center;
	font-family:'Candara';
	font-style: italic;
	display: inline;
}
